@import url('https://css.gg/search.css');

.App {
  display: flex;
  flex-direction: column;
  height: 576px;
  background-color: whitesmoke;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  display: flex;
  justify-content: center;
  align-items:flex-end;
  height: 200px;
  width: 50%;
  
}

.query {
  height: 25px;
  width: 250px;
  border: none;
  background: none;
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  width: 37px;
  border: none;
  background:none;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

