.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  height: 200px;
  width: 400px;
  background: rgba(255, 255, 255, 0.64);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
  z-index: 0;
}
